<div class="todos-container">
    <!-- checks if taskList has items, then displays the tasks -->
    <div *ngIf="taskList.length > 0" class="todo-list">
        <div *ngFor="let task of taskList">
            <ul>

                <!-- new todo, could make this into its own component probably -->
                <li class="new-todo" > 
                    <span class="task-check-mark"> <img src="assets/check.png" alt=""> </span>
                    {{ task.name }} 
                    <span class="task-delete"></span>
                </li>
                
                
            </ul>
        </div>
        
    </div>
    <div class="todo-list-footer">

        <div class="items-left">
            <p>{{taskList.length}} Items Left</p>
        </div>
        
        <div class="filtering-buttons">
            <p>All</p>
            <p>Active</p>
            <p>Completed</p>
        </div>

        <div class="clear-completed">
            <p>Clear completed</p>
        </div>
        
    </div>
</div>
