<div class="todos-container">
    
    <div *ngIf="activeFilter==='all'" class="todo-list">
        <app-task-item *ngFor="let task of taskService.getAllTasks()" [task]="task"></app-task-item>
    </div>

    <div *ngIf="activeFilter==='active'" class="todo-list">
       <app-task-item *ngFor="let task of taskService.getUncompletedTasks()" [task]="task"></app-task-item>
    </div>

    <div *ngIf="activeFilter==='completed'" class="todo-list">
        <app-task-item *ngFor="let task of taskService.getCompletedTasks()" [task]="task"></app-task-item>
    </div>
    
    <div class="todo-list-footer">

        <div class="items-left">
            <p>{{taskService.getUncompletedTasks().length}} Items Left</p>
        </div>
        
        <div class="filtering-buttons-tab">
            <p class="filter-button" (click)="updateFilter('all')" [ngClass]="{'active': activeFilter === 'all'}">All</p>
            <p class="filter-button" (click)="updateFilter('active')" [ngClass]="{'active': activeFilter === 'active'}">Active</p>
            <p class="filter-button" (click)="updateFilter('completed')" [ngClass]="{'active': activeFilter === 'completed'}">Completed</p>
        </div>

        <div class="clear-completed">
            <p (click)="deleteCompletedTasks()">Clear completed</p>
        </div>
        
    </div>
</div>
