.input-form-container {
    margin-top: 50px;
    max-width: 600px;
    width: 100%;   
    margin: 50px auto 0px auto;   
}

.input-field, input-field:active, .input-field:focus {
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
    width: 100%;
    color: hsl(235, 19%, 35%);
    box-shadow: 2px 2px 2px grey;
    border: none;
    height: 50px;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    padding-left: 50px;
}

.circle {
    height: 24px;
    width: 24px;
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
    cursor: pointer;
    
}